/*
Richiel Galacgac
Period 3
Coding 1
*/

#clock-outer {
	width: 800px;
	height: 400px;
	background-color: black;
	border-radius: 25px;
}

#clock-display {
	width: 600px;
	height: 300px;
	background-color: gray;

}

#time {
	font-size: 100px;
	color: #39ff14; /*Neon Green*/
}

#button {
	background-image:url('button.png'); /*Power button*/
	width: 225px;
	height: 225px;
	cursor: pointer;
}

.center {
	margin: auto;
	text-align: center;
}

.relative {
	position: relative;
}

.absolute {
	position: fixed;
}

